# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Data & models
data/
raw_data/
models/
*.csv

!data/processed/onion_maharashtra_cleaned.csv
*.pkl
*.joblib

# Streamlit
.streamlit/secrets.toml

.streamlit_cache/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Debug & logs
debug_*.py
*.log
.env
